.stops-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  .stop-in-list {
    position: relative;
    .delete-fav-icon {
      position: absolute;
      cursor: pointer;
      top: -10px;
      right: -6px;
      &:hover {
        color: red;
      }
    }
  }
  .stop-name {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    flex-shrink: 0;
    cursor: pointer;
    &:hover {
      background-color: orange;
    }
  }
  .fav-description {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}
.arrivals-table {
  padding-top: 24px;
  .arrival-info {
    display: flex;
    .time,
    .type,
    .transport-number,
    .destination {
      position: relative;
      width: max-content;
      min-width: 102px;
      text-align: center;
      padding: 10px;
    }

    &:first-child {
      .time::before {
        position: absolute;
        top: -10px;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
        content: "Arrival time";
      }
      .transport-number::before {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        content: "Number";
      }
      .destination::before {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        content: "Destination";
      }
      .type::before {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        content: "Type";
      }
    }
  }
}
main {
  padding-top: 20px;
  padding-bottom: 20px;
  input,
  select {
    padding: 5px;
    border: 0;
    border-bottom: 1px solid black;

    margin: 10px;
  }
  input {
    display: block;
    margin: 10px auto;
    font-size: 32px;
    transition: 0.2s;
    &.small-input {
      font-size: 18px;
    }
  }
  input:focus-visible {
    outline: 0;
    font-size: 32px;
  }
  .arrival-options {
    text-align: center;
  }
  .stop-info {
    width: fit-content;
    margin: 0 auto;
    .selected-stop-name {
      text-align: center;
      font-size: 24px;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  &.filled {
    font-variation-settings: "FILL" 1;
  }
}

.loader-grid {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding-top: 20px;
}
.loader-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fae101;
  animation: loader-grid 1.2s linear infinite;
}
.loader-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loader-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loader-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loader-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loader-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loader-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loader-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes loader-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
